@tailwind base;
@tailwind components;
@tailwind utilities;

@media (min-width: 1024px) {
    .row {
        -webkit-box-direction: normal;
        -webkit-box-orient: horizontal;
        flex-direction: row;
    }
}

/************
*   BUTTONS COMPONENT
*************/

@layer components {
    .btn {
        @apply bg-blue-400 mt-5 hover:bg-blue-600 text-white font-bold py-2 px-8
    }

    .btn-disabled {
        @apply bg-blue-400/50 mt-5 text-white/50 font-bold py-2 px-8
    }

    .tweet-actions-btn {
        @apply w-12 mt-1 text-gray-500 px-3 py-2 text-base leading-6 font-medium rounded-full hover:bg-blue-800/25 hover:text-blue-300
    }
}

@layer components {
    .tweet-handle {
        @apply base-text break-normal text-sm leading-5 font-medium text-gray-400 group-hover:text-gray-300 transition ease-in-out duration-150
    }
}

@layer components {
    body {
        @apply bg-gray-900 text-white
    }

    .base {
        -ms-flex-align: stretch;
        -ms-flex-direction: column;
        -ms-flex-negative: 0;
        -ms-flex-preferred-size: auto;
        -webkit-align-items: stretch;
        -webkit-box-align: stretch;
        -webkit-box-direction: normal;
        -webkit-box-orient: vertical;
        -webkit-flex-basis: auto;
        -webkit-flex-direction: column;
        -webkit-flex-shrink: 0;
        align-items: stretch;
        border: 0 solid black;
        box-sizing: border-box;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        flex-basis: auto;
        flex-direction: column;
        flex-shrink: 0;
        margin-bottom: 0px;
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 0px;
        min-height: 0px;
        min-width: 0px;
        padding-bottom: 0px;
        padding-left: 0px;
        padding-right: 0px;
        padding-top: 0px;
        position: relative;
        z-index: 0;
    }

    .base-text {
        max-width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow-wrap: normal;
    }

    .tweet-textbox {
        @apply p-3 bg-transparent text-gray-400 font-medium text-lg w-full border border-gray-500/25 rounded-lg outline-0
    }
}